@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.maincontainer {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 1040px) {
  .maincontainer {
    width: 100%;
    padding: 0 20px;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #373737;
  font-size: 16px;
}

h1, h2 {
  font-family: "Playfair Display", serif;
  color: #581845;
  margin: 0;
}

h2 {
  font-size: 48px;
}

img {
  max-width: 100%;
}

@-webkit-keyframes changeBackgroundColor {
  0% {
    background-color: floralwhite;
  }
  50% {
    background-color: #581845;
    color: floralwhite;
  }
  100% {
    background-color: floralwhite;
  }
}

@keyframes changeBackgroundColor {
  0% {
    background-color: floralwhite;
  }
  50% {
    background-color: #581845;
    color: floralwhite;
  }
  100% {
    background-color: floralwhite;
  }
}

.button1 {
  background-color: #581845;
  border: none;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: floralwhite;
  border-radius: 4px;
}

.button1:hover {
  color: #581845;
  cursor: pointer;
  -webkit-animation-name: changeBackgroundColor;
          animation-name: changeBackgroundColor;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.visit-lapland {
  background-image: url(../images/reindeer.jpg);
  max-width: 100%;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  padding-left: 3rem;
}

@media only screen and (max-width: 768px) {
  .visit-lapland {
    background-position: center;
    padding-left: 1rem;
  }
}

.visit-lapland h1 {
  padding: 80px 0px;
  font-size: 76px;
}

@media only screen and (max-width: 768px) {
  .visit-lapland h1 {
    font-size: 50px;
    padding: 30px 0px 45px 0px;
  }
}

.visit-lapland .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  padding: 2rem 0rem;
  max-width: 50%;
  color: #581845;
  font-weight: bold;
  margin: 0;
}

.visit-lapland .top-menu a {
  font-size: 16px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
  padding: 0px 10px;
}

@media only screen and (max-width: 768px) {
  .visit-lapland .top-menu a {
    padding: 5px 0px;
  }
}

.visit-lapland .top-menu a:hover {
  border-color: #581845;
}

@media only screen and (max-width: 768px) {
  .visit-lapland .top-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.visit-lapland .main-paragraph {
  padding-bottom: 60px;
  line-height: 30px;
  max-width: 35%;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .visit-lapland .main-paragraph {
    max-width: 100%;
    font-size: 18px;
    padding: 0px 20px 40px 0px;
  }
}

.visit-lapland .main-paragraph .main-span {
  border: 20px 30px;
  background-color: #581845;
  padding: 4px;
  color: floralwhite;
}

.responsible {
  background-color: #222634;
  padding: 50px 0px;
  text-align: center;
}

.responsible h2 {
  text-transform: uppercase;
  color: floralwhite;
  position: relative;
  padding: 20px 0px;
}

.responsible h2:before {
  content: "";
  width: 100px;
  height: 4px;
  top: 100px;
  left: 45%;
  background: floralwhite;
  position: absolute;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .responsible h2:before {
    top: 165px;
    left: 37%;
  }
}

.responsible p {
  text-align: center;
  color: floralwhite;
  padding: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .responsible p {
    width: 90%;
  }
}

.responsible .arrow-icon {
  border-radius: 50%;
  background-color: floralwhite;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.responsible .arrow-icon i {
  color: #222634;
  margin: 10px 10px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 40px;
}

@media only screen and (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 10px 10px 10px;
  }
}

.about .about1 {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .about .about1 {
    text-align: center;
    padding: 0px 0px 20px 0px;
  }
}

.about .about1 p {
  font-size: 16px;
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .about .about1 p {
    width: 100%;
  }
}

.about .about1 h2 {
  font-size: 44px;
}

.about .about1 button {
  width: 85%;
}

.about .about1 .about-par1 {
  color: #581845;
  font-weight: bold;
}

.about .about2 img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.adventures-container {
  padding: 30px 0px 80px 0px;
}

.adventures-container .adventures-title,
.adventures-container .adventures-lead {
  text-align: center;
  padding: 10px;
}

.adventures-container .adventures-lead {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.adventures-container .adventures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: floralwhite;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .adventures-container .adventures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.adventures-container .adventures .adventures-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .adventures-container .adventures .adventures-item {
    width: 100%;
  }
}

.adventures-container .adventures .adventures-item .adventures-content {
  text-align: center;
}

.adventures-container .adventures .adventures-item h3 {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}

.adventures-container .adventures .adventures-item p {
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.adventures-container .adventures .adventures-item button {
  background-color: transparent;
  border: 2px solid floralwhite;
  color: floralwhite;
  font-family: "Playfair Display", serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px 30px;
  letter-spacing: 2px;
}

.adventures-container .adventures .adventures-item button:hover {
  color: floralwhite;
  cursor: pointer;
  -webkit-animation-name: changeBackgroundColor1;
          animation-name: changeBackgroundColor1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes changeBackgroundColor1 {
  0% {
    background-color: transparent;
    color: floralwhite;
  }
  50% {
    background-color: floralwhite;
    color: #9bcedd;
  }
  100% {
    background-color: transparent;
    color: floralwhite;
  }
}

@keyframes changeBackgroundColor1 {
  0% {
    background-color: transparent;
    color: floralwhite;
  }
  50% {
    background-color: floralwhite;
    color: #9bcedd;
  }
  100% {
    background-color: transparent;
    color: floralwhite;
  }
}

.adventures-aurora {
  background-image: url(../images/aurora.jpeg);
}

.adventures-hiking {
  background-image: url(../images/lapland-3.webp);
}

.adventures-dogsledding {
  background-image: url(../images/dogsled.jpg);
}

.adventures-wildlife {
  background-image: url(../images/reindeer-2.jpg);
}

.team .maincontainer {
  padding: 60px, 0px;
}

.team .maincontainer h2 {
  text-align: center;
}

.team .maincontainer .ourteam-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 10px 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .team .maincontainer .ourteam-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team .maincontainer .ourteam-list a {
  font-family: "Playfair Display", serif;
  color: #581845;
  font-size: 16px;
  padding: 10px 0px;
  font-weight: bold;
}

.team .maincontainer .ourteam-list .team-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  size: auto;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 15px;
}

.team .maincontainer .ourteam-list .team-picture {
  padding-bottom: 25px;
}

.team .maincontainer .ourteam-list .team-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #581845;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote {
  background-color: #222634;
  color: floralwhite;
  padding: 20px 0px;
}

.quote .allquote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
  padding-bottom: 20px;
}

.quote .allquote::before {
  content: ' ”';
  font-size: 200px;
  position: absolute;
  left: 8%;
  color: #a9a9b3;
}

@media only screen and (max-width: 768px) {
  .quote .allquote::before {
    left: 3%;
  }
}

.quote .allquote p {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.quote .quote1 {
  text-align: left;
  padding: 40px 0px 0px 20px;
  line-height: 45px;
}

@media only screen and (max-width: 768px) {
  .quote .quote1 {
    line-height: 35px;
  }
}

.quote .quote2,
.quote .quote3 {
  text-align: right;
}

.quote .quote2 {
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .quote .quote2 {
    padding-top: 30px;
  }
}

.contact {
  padding: 40px 0px;
}

.contact .maincontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .contact .maincontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .maincontainer .contact1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 20px 0px;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .contact .maincontainer .contact1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .maincontainer .contact1 .roadsign-img {
  width: 100%;
}

.contact .maincontainer .contact1 .form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

@media only screen and (max-width: 768px) {
  .contact .maincontainer .contact1 .form {
    padding: 30px 0px 15px 0px;
  }
}

.contact .maincontainer .contact1 .form h2 {
  padding-bottom: 20px;
}

.contact .maincontainer .contact1 .form input {
  width: 100%;
  border: 1px solid #581845;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0px;
}

.contact .maincontainer .contact1 .form label {
  font-size: 18px;
  padding: 40px 0px;
}

.contact .maincontainer .contact1 .form .name1,
.contact .maincontainer .contact1 .form .email1 {
  height: 25px;
}

.contact .maincontainer .contact1 .form .story1 {
  height: 100px;
}

.contact .maincontainer .contact1 .form .contactus-button {
  width: 100%;
  padding-top: 10px;
}

.contact .maincontainer .contact1 .form .contactus-button button {
  width: 100%;
}

.footer {
  background-color: #222634;
  color: floralwhite;
  padding: 20px 30px;
}

.footer .mainconatiner {
  text-align: left;
}

.footer .mainconatiner .address,
.footer .mainconatiner .copyright {
  text-align: left;
}

.footer .social-media {
  text-align: right;
}

.footer .social-media .social-media-icon {
  color: floralwhite;
  height: 24px;
}

@media only screen and (max-width: 768px) {
  .footer .social-media {
    text-align: left;
    padding-top: 20px;
  }
}
