@import "variables.scss";
@import "mixins.scss";

* {
    box-sizing: border-box
}

html, body {
    padding: 0;
    margin: 0;
}

.maincontainer {
    max-width: 1000px;
    margin: 0 auto;

    @media only screen and (max-width: 1040px) {
        width: 100%;
        padding: 0 20px;
    }
}


body {
    font-family: $general-font;
    color: $text-color;
    font-size: $general-fontsize;
}

h1, h2 {
    font-family: $heading-font;
    color: $primary-color;
    margin: 0;
}


h2 {
    font-size: $h2-fontsize;
}


img {
    max-width: 100%;
}

@keyframes changeBackgroundColor {
    0% { background-color: $white-color}
    50% {
        background-color: $primary-color;
        color: $white-color;
    }
    100% { background-color: $white-color }
}


.button1 {
    background-color: $primary-color;
    border: none;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $white-color;
    border-radius: 4px;

    &:hover {
    color: $primary-color;
    cursor: pointer;
    animation-name: changeBackgroundColor;
    animation-duration: 2s;
    }    
}

// sekcja pierwsza z menu

.visit-lapland {
    background-image: url(../images/reindeer.jpg);
    max-width: 100%;
    background-size: cover;  
    height: 100vh;
    min-height: 500px;  
    padding-left: 3rem;

    @media only screen and (max-width: 768px) {
        background-position: center;
        padding-left: 1rem;
    }

    h1 {
        padding: 80px 0px;
        font-size: 76px;

        @media only screen and (max-width: 768px) {
            font-size: 50px;
            padding: 30px 0px 45px 0px;
        }
    }


    .top-menu {
        @include flex-space-between;
        list-style-type: none;
        text-transform: uppercase;
        padding: 2rem 0rem;
        max-width: 50%;
        color: $primary-color;
        font-weight: bold;
        margin: 0;
    
        a {
            font-size: 16px;
            border-bottom: 2px solid transparent;
            transition: border-color 0.5s linear;
            padding: 0px 10px;

            @media only screen and (max-width: 768px) {
                padding: 5px 0px;
            }
    
            &:hover {
                border-color: $primary-color;
            }
    
        }
    
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            padding: 20px 0px;
            align-items: flex-start;
        }
    }
    
    .main-paragraph {
        padding-bottom: 60px;
        line-height: 30px;
        max-width: 35%;
        font-size: 20px;
    
        @media only screen and (max-width: 768px) {
            max-width: 100%;
            font-size: 18px;
            padding: 0px 20px 40px 0px;            
          }
    
        .main-span {
            border: 20px 30px;
            background-color: $primary-color;
            padding: 4px;
            color: $white-color;
        }
    }   
}


// podróżuj bezpiecznie

.responsible {
    background-color: $secondary-color;
    padding: 50px 0px;
    text-align: center;

    h2 {
        text-transform: uppercase;
        color: $white-color;
        position:relative;
        padding: 20px 0px;
    
        &:before {
            content: "";
            width: 100px;
            height: 4px;
            top: 100px;
            left: 45%;
            background: $white-color;
            position: absolute;
            text-align: center;

            @media only screen and (max-width: 768px) {
            top: 165px;
            left: 37%;
            }
        }
    } 

    p {
        text-align: center;
        color: $white-color;  
        padding: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;

        @media only screen and (max-width: 768px) {
            width: 90%;
            }

    }

    .arrow-icon {
        border-radius: 50%;
        background-color: $white-color;
        margin: 0 auto;
        height: 50px;
        width: 50px;
    
        i {
            color: $secondary-color;
            margin: 10px 10px;
           
        }
    }     
}


 // about
 
.about {
    display: flex;
	justify-content: space-between;
    padding: 50px 40px;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        padding: 30px 10px 10px 10px;
    }


    .about1 {
        text-align: left;

        @media only screen and (max-width: 768px) {
            text-align: center;
            padding: 0px 0px 20px 0px;
        }
    
        p {
            font-size: 16px;
            width: 85%;

            @media only screen and (max-width: 768px) {
                width: 100%;
            }
        }
    
        h2 {
            font-size: 44px;
        }
    
        button {
            width: 85%;
        }
    
        .about-par1 {
            color: $primary-color;
            font-weight: bold;
        }
    }
    
    .about2 {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            height: 100%;
        }
    }
    
}


// cztery kolumny

.adventures-container {
    padding: 30px 0px 80px 0px;

    .adventures-title,
    .adventures-lead {
    text-align: center;
    padding: 10px;
    }

    .adventures-lead {
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .adventures {
        @include flex-center;
        color: $white-color;
        flex-wrap: wrap;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }

        .adventures-item {
            @include flex-center;
            height: 350px;
            width: 50%;
            background-repeat: no-repeat;
            background-size: cover;

            @media only screen and (max-width: 768px) {
                width: 100%;
            }

            .adventures-content {
                text-align: center;
            }
            
        
            h3 {
                text-transform: uppercase;
                font-family: $heading-font;
                letter-spacing: 2px;
            }
        
            p {
                text-align: center;
                font-size: 14px;
                padding-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
        
            button {
                background-color: transparent;
                border: 2px solid $white-color;
                color: $white-color;
                font-family: $heading-font;
                font-size: 11px;
                text-transform: uppercase;
                padding: 10px 30px;
                letter-spacing: 2px;

                &:hover {
                    color: $white-color;
                    cursor: pointer;
                    animation-name: changeBackgroundColor1;
                    animation-duration: 2s;
                }  
            }
        }
    }
}

@keyframes changeBackgroundColor1 {
    0% { background-color: transparent;
    color: $white-color;
    }
    50% {
        background-color: $white-color;
        color: rgb(155, 206, 221);
    }
    100% { background-color: transparent;
    color: $white-color;
    }
}

.adventures-aurora {
    background-image: url(../images/aurora.jpeg);
}

.adventures-hiking {
    background-image: url(../images/lapland-3.webp);
}

.adventures-dogsledding {
    background-image: url(../images/dogsled.jpg);
}

.adventures-wildlife {
    background-image: url(../images/reindeer-2.jpg)
}

// nasz zespół

.team {

    .maincontainer {
        padding: 60px, 0px;

        h2 {
        text-align: center;
        }

        .ourteam-list {
            display: flex;
            list-style-type: none;
            padding: 10px 30px;
            justify-content: space-around;
            flex-basis: auto;
            flex-grow: 1;

            @media only screen and (max-width: 768px) {
            flex-direction: column;
            }
        
            a {
                font-family: $heading-font;
                color: $primary-color;
                font-size: 16px;
                padding: 10px 0px;
                font-weight: bold;
            }
        
            .team-list {
                flex-grow: 1;
                text-align: center;
                size: auto;
                flex-basis: 0;
                justify-content: space-around;
                padding: 20px 15px;
            }

            .team-picture {
                padding-bottom: 25px,
            }
        
            .team-picture img {
                width: 150px;
                height: 150px;
                border-radius: 50%;	
                border: 3px solid $primary-color;
                object-fit: cover;
            }
        }
    }
}



// cytat

.quote {
    background-color: $secondary-color;
    color: $white-color;
    padding: 20px 0px;

    .allquote {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        position: relative;
        padding-bottom: 20px;

        &::before {
            content: ' ”';
            font-size: 200px;
            position: absolute;
            left: 8%;
            color: transparentize($color: rgb(169, 169, 179), $amount: 0);

            @media only screen and (max-width: 768px) {
                left: 3%;
                }
        }
    
        p {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
    
        }
    }

    .quote1 {
        text-align: left;
        padding: 40px 0px 0px 20px;
        line-height: 45px;

        @media only screen and (max-width: 768px) {
            line-height: 35px;
            }
    }
    
    .quote2,
    .quote3 {
        text-align: right;

    }
    
    .quote2 {
        text-transform: uppercase;

        @media only screen and (max-width: 768px) {
            padding-top: 30px;
            }
    }

}



// kontakt

.contact {

    padding: 40px 0px;

    .maincontainer {

        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
            }

        .contact1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
            padding: 20px 0px;
            width: 90%;
            margin: 0 auto;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
                }

            .roadsign-img {
                width: 100%;
            }
            
            .form {
                flex-direction: column;
                padding-left: 20px;

                @media only screen and (max-width: 768px) {
                    padding: 30px 0px 15px 0px;
                    }

            
                h2 {
                    padding-bottom: 20px;
                }
            
                input {
                    width: 100%;
                    border: 1px solid $primary-color;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin: 10px 0px;
                }
            
                label {
                    font-size: 18px;
                    padding: 40px 0px;
                }

                .name1,
                .email1 {
                    height: 25px;
                }
                
                .story1 {
                    height: 100px;
                }
                
                .contactus-button {
                    width:100%;
                    padding-top: 10px;

                    button {
                    width: 100%;
                    }
                }
            }    
        } 
    }
}


// footer

.footer {
    background-color: $secondary-color;
    color: $white-color;
    padding: 20px 30px;


    .mainconatiner {
        text-align: left;

        .address,
        .copyright {
            text-align: left;
        }
    }


    .social-media {
        text-align: right;
        
        .social-media-icon {
            color: $white-color;
            height: 24px;
        }
        @media only screen and (max-width: 768px) {
            text-align: left;
            padding-top: 20px;
            }
    }
}

