// colors

$primary-color: #581845;
$secondary-color: #222634;
$text-color: #373737;
$white-color: floralwhite; 

// font

$general-font: 'Lato', sans-serif;
$heading-font: 'Playfair Display', serif;

//font sizes

$general-fontsize: 16px;
$h2-fontsize: 48px;