html, body {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    /*font-family: 'Playfair Display', serif;*/
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #581845;
}


h2 {
    font-size: 48px;
}

.maincontainer {
    max-width: 1000px;
    margin: 0 auto;
}

@media only screen and (max-width: 1040px) {
    .maincontainer {
        width: 100%;
    }
}

img {
    max-width: 100%;
}

/*sekcja pierwsza z menu*/

.visit-lapland {
    background-image: url(../images/reindeer.jpg);
    max-width: 100%;
    background-size: cover;  
    height: 500px;  
}

@media only screen and (max-width: 768px) {
    .visit-lapland {
    margin: 80px 0 100px;
    }
}

.top-menu {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    padding: 1rem 0rem;
    justify-content:space-between;
    max-width: 50%;
    color: #581845;
    font-weight: bold ;
}

.visit-lapland {
    padding-left: 3rem;
}

h1 {
    font-size: 76px;
}

.main-paragraph {
    padding-bottom: 20px;
    line-height: 30px;
    max-width: 35%;
}

@media only screen and (max-width: 768px) {
    .main-paragraph  {
        max-width: 100%;
    }
}

.main-span {
    border: 20px 30px;
    background-color: #581845;
    padding: 4px;
    color: floralwhite;
}

.button1 {
    background-color: #581845;
    border: none;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: floralwhite;
}

/* podróżuj bezpiecznie*/

.responsible {
    background-color: #222634;
    text-align: center;
    padding: 50px 0px;
}

.icono-locationArrow {
    color: #222634;
    text-align: center;
    border-radius: 50%;
    background-color: floralwhite;
}

.res-heading {
    text-transform: uppercase;
    color: floralwhite;
    position:relative;
}

.res-heading::before {
    content: "";
    width: 100px;
    height: 4px;
    top: 80px;
    left: 45%;
    background:floralwhite;
    position: absolute;
    text-align: center;
}


.res-paragraph {
    text-align: center;
    color: floralwhite;  
    padding: 40px;
}


/*about*/

.about .maincontainer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}


.about-par1 {
    color: #581845;
    font-weight: bold;
}

/* cztery kolumny */

.adventures-title {
    text-align: center;
}

.adventures {

    display: flex;
    text-align: center;
    color: white;
    flex-wrap: wrap;
}

.adventures-item {
    display: flex;
    height: 300px;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adventures-aurora {
    background-image: url(../images/aurora.jpeg);
}

.adventures-hiking {
    background-image: url(../images/lapland-3.webp);
}

.adventures-dogsledding {
    background-image: url(../images/dogsled.jpg);
}

.adventures-wildlife {
    background-image: url(../images/reindeer-2.jpg)
}

/*nasz zespół*/

.ourteam-list {
    display: flex;
    list-style-type: none;
    padding: 20px 30px;
    justify-content: space-around;
    flex-basis: auto;
    flex-grow: 1;
}

.team-list {
    flex-grow: 1;
    text-align: center;
    size: auto;
    flex-basis: 0;
    justify-content: space-around;
    padding: 20px 15px;
}


.team-picture1 img, .team-picture2 img, .team-picture3 img, .team-picture4 img {
    width: 150px;
	height: 150px;
	border-radius: 50%;	
    border: 3px solid black
}